@tailwind base;
@tailwind components;
@tailwind utilities;
body, html{
background-color: #171717;
}
.spotifyembed, .spotifyembed .bp4-popover2-content{
  border-radius: 20px !important;
}
html {
    scrollbar-color: #494949 #171717;
    scrollbar-width: thin;
  }
  
  /* WebKit and Chromiums */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #171717;
  }
  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 5px;
  }

  .navbuttons .bp4-active{
    background-color: #404040 !important;
  }